<a href="https://colab.research.google.com/github/Hoyadeath/practice_AI/blob/main/1_3_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 04. Dictionary

##1. Creating a dictionary and storing data

In [1]:
my_dict={}
my_dict

{}

In [2]:
my_dict1=dict( )
my_dict1

{}

##2. Access and use of dictionary elements

###Set the key

In [3]:
my_stocks={'ss':10, 'lg':5, 'sk':5}
print("number of my ss stocks: %d" % my_stocks['ss'])

number of my ss stocks: 10

A list that allows duplication cannot be used as a key in the dictionary, and a tuple or character type can be used as a key.

In [8]:
my_stocks1={['ss','lg']: 10}
my_stocks1

TypeError: unhashable type: 'list'

In [5]:
my_stocks2={('ss','lg'): 10} # Tuples or characters can be used as keys in the dictionary
my_stocks2

{('ss', 'lg'): 10}

###Use keys and values

In [9]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5}
my_stocks['lg']=15
my_stocks

{'ss': 10, 'lg': 15, 'sk': 5}

In [10]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5}
my_stocks['naver']=20
my_stocks

{'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}

In [14]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
my_stocks['ss']

10

In [16]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
print("number of my ss stocks: %d" % my_stocks['ss']) # %d an integer type

number of my ss stocks: 10

In [17]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
ss_has_price="ss" in my_stocks
ss_has_price

True

##3. Built-in functions useful for dictionaries
### Output all keys: keys function

In [20]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
print("Keys: %s" % my_stocks.keys( ))

Keys: dict_keys(['ss', 'lg', 'sk', 'naver'])

In [21]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
print(f"Keys: {my_stocks.keys( )}")

Keys: dict_keys(['ss', 'lg', 'sk', 'naver'])

In [32]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
for key in my_stocks.keys( ):
  print(key)

ss
lg
sk
naver

In [24]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
for key in my_stocks.keys( ):
  print(key, my_stocks[key])

ss 10
lg 5
sk 5
naver 20

In [33]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
my_stocks_list=list(my_stocks.keys( ))
my_stocks_list

['ss', 'lg', 'sk', 'naver']

### Output all values: values function

In [29]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
print("Values: %s" % my_stocks.values( ))

Values: dict_values([10, 5, 5, 20])

In [30]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
for value in my_stocks.values( ):
  print (value)

10
5
5
20

### Output all pairs of keys and values: items function

In [34]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
my_stocks_list1=list(my_stocks.items( ))
my_stocks_list1

[('ss', 10), ('lg', 5), ('sk', 5), ('naver', 20)]

In [35]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
for value in my_stocks.items( ):
  print (value)

('ss', 10)
('lg', 5)
('sk', 5)
('naver', 20)

### Import value: get function

In [42]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
ss_quantity=my_stocks.get("ss", 100) # ❶
ss_quantity

10

In [44]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
ss_quantity=my_stocks.get("kt", 100) # ❷
ss_quantity

100

In [45]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
no_ones_price=my_stocks.get("skt") # ❸
print(no_ones_price)

None

###Check the key and the value: Combine the in operator with the built-in function

In [51]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"ss" in my_stocks

True

In [52]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"kt" in my_stocks

False

In [53]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"ss" in my_stocks.keys( )

True

In [56]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"ss" in my_stocks.values( )

False

In [57]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
10 in my_stocks.values( )

True

In [58]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"ss" in my_stocks.items( )

False

In [59]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
('ss', 10) in my_stocks.items( ) # 튜플로 표현됨

True

In [60]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
try:
  kt=my_stocks["kt"]
except KeyError:
  print("no price for kt!")

no price for kt!

In [61]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
try:
  ss=my_stocks["ss"]
  print("ss exists")
except KeyError:
  print("no price for ss!")

ss exists